{{ define "document_title" }}{{.CurrentSection.Params.Edition}} | {{.Title}}{{end}}
{{ define "header_title" }}{{.Title}}{{end}}

{{ define "main" }}
<div class="rulebook-helpers">
  <a rel="preload" href="{{.Parent.Permalink}}">{{ i18n "overview" }}</a>
  <a rel="preload" href='{{ "/misc/master-rulebook" | absLangURL }}'>{{ i18n "master_rules" }}</a>
</div>

<hr class="hide-print">
<main class="rulebook content">
  <details open>
    <summary>{{ i18n "table_of_contents" }}</summary>
    {{.TableOfContents}}
  </details>

  {{ .Content }}
</main>
{{ end }}
