{{ define "document_title" }}{{.CurrentSection.Params.Edition}} | {{.Title}}{{end}}
{{ define "header_title" }}{{.Title}}{{end}}

{{ define "main" }}
<div class="rulebook-helpers">
  <a href="{{.Parent.Permalink}}">{{ i18n "overview" }}</a>
  <a href='{{ "/misc/master-rulebook" | absLangURL }}'>{{ i18n "master_rules" }}</a>
</div>

<hr>
<div class="rulebook">
  <details>
    <summary>{{ i18n "table_of_contents" }}</summary>
    {{.TableOfContents}}
  </details>
  {{ .Content }}
</div>
{{ end }}
