{{ define "document_title" }}{{.Title}}{{end}}
{{ define "header_title" }}{{.Title}}{{end}}

{{ define "main" }}
  <h1>{{ i18n "main_documents" }}</h1>
  {{ range where .Site.Pages.ByDate "Kind" "section" }}
    {{ if hasPrefix .CurrentSection.Dir "misc" }}
      {{ range where .Pages.ByWeight "Kind" "page" }}
      <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      {{ end }}
    {{ end }}
  {{ end }}

  <h2>{{ i18n "editions" }}</h2>
  {{ range where .Site.Pages.ByDate "Kind" "section" }}
    {{ if not .Params.hideOnFrontPage }}
    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    {{ end }}
  {{ end }}
{{ end }}
